APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/api_mascotas/public
TIMEZONE=UTC

DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mascotas_db
DB_USER=postgres
DB_PASS=postgres
DB_CHARSET=UTF8
DB_SCHEMA=public
DB_SSLMODE=require

JWT_SECRET=change-this-in-production
JWT_ISSUER=protectora-api
JWT_TTL=3600
ADMIN_EMAIL=admin@protectora.local
ADMIN_PASSWORD_HASH=$2y$10$NC5YYOYV0F6NKTO4490fBOaLIpd2HNzLKXjQdB.UdqVS/TLF53XGa
